<h1>New Post</h1>
<div class="row">
  <div class="col-md-4">
    <p>Guidelines for Posts</p>
    <ul>
      <li>You do not talk about new posts</li>
      <li>You DO NOT talk about new posts</li>
      <li>You do not go over the administrator's helmet</li>
      <li>Never underestimate the power of the Schwartz!</li>
    </ul>
  </div>
  <div class="col-md-8">
    <%= render partial: 'form', locals: { topic: @topic, post: @post } %>
  </div>
</div>
